/*******************************************************
*
* Mobile styles and other media queries
*
*******************************************************/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */

@media only screen and (max-width: 1450px) {
    /* 1367 */
    /*#region Global */
    /*#endregion Global */
    /*#region Banner Region */
    /*#endregion Banner Region */
    /*#region Quick Search Region */
    /*#endregion Quick Search Region */
    /*#region Properties Region */
    /*#endregion Properties Region */
    /*#region Areas Region */
    /*#endregion Areas Region */
    /*#region Footer */
    /*#endregion Footer */
    /*#region Fixed smi */
    /*#endregion Fixed smi */
}

@media only screen and (max-width: 1366px) {
    /*#region Global */
    /*#endregion Global */
    /*#region Banner Region */
    /*#endregion Banner Region */
    /*#region Quick Search Region */
    /*#endregion Quick Search Region */
    /*#region Properties Region */
    /*#endregion Properties Region */
    /*#region Areas Region */
    /*#endregion Areas Region */
    /*#region Footer */
    /*#endregion Footer */
    /*#region Fixed smi */
    /*#endregion Fixed smi */
}

@media only screen and (min-width: 992px) {
    /*#region Global */
    /*#endregion Global */
    /*#region Banner Region */
    /*#endregion Banner Region */
    /*#region Quick Search Region */
    /*#endregion Quick Search Region */
    /*#region Properties Region */
    /*#endregion Properties Region */
    /*#region Areas Region */
    /*#endregion Areas Region */
    /*#region Footer */
    /*#endregion Footer */
    /*#region Fixed smi */
    /*#endregion Fixed smi */
}

@media only screen and (max-width: 1199px) {
    /*#region Global */
    /*#endregion Global */
    /*#region Banner Region */
    /*#endregion Banner Region */
    /*#region Quick Search Region */
    /*#endregion Quick Search Region */
    /*#region Properties Region */
    /*#endregion Properties Region */
    /*#region Areas Region */
    /*#endregion Areas Region */
    /*#region Footer */
    /*#endregion Footer */
    /*#region Fixed smi */
    /*#endregion Fixed smi */
}

@media only screen and (min-width: 1130px) and (max-width: 1199px) {}

/* iPad(portrait) | Galaxy Tab 4(portrait) */

@media only screen and (max-width: 991px) {
    /* The following are used on inner pages. Please edit carefully. */
    .inner {
        width: 100%;
    }
    #content-sidebar, #content-full {
        width: 100%;
    }
    .outer {
        width: 100%;
        min-width: 100%;
    }
    #content-sidebar #content {
        width: 100%;
    }
}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */

@media only screen and (max-width: 767px) {
    /* 481 */
    .ip-banner .container {
        width: 100%;
    }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */

@media only screen and (max-width: 480px) {
    /*#region Global */
    /*#endregion Global */
    /*#region Banner Region */
    /*#endregion Banner Region */
    /*#region Quick Search Region */
    /*#endregion Quick Search Region */
    /*#region Properties Region */
    /*#endregion Properties Region */
    /*#region Areas Region */
    /*#endregion Areas Region */
    /*#region Footer */
    /*#endregion Footer */
    /*#region Fixed smi */
    /*#endregion Fixed smi */
}