/*******************************************************
<<<<<<< HEAD
*
* Mobile styles and other media queries
*
*******************************************************/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */

@media only screen and (min-width: 992px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Quick Search Region */

  .quick-search-form {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    max-width: 1180px;
    margin: 0 auto;
    gap: 2px;
    align-items: center;
  }
  .primary-qs-item {
    grid-column: 1/14;
  }
  .secondary-qs-item {
    grid-column: 15/30;
  }
  .tertiary-qs-item {
    grid-column: 30/44;
  }
  .fourth-qs-item {
    grid-column: 44/52;
  }
  .fifth-qs-item {
    grid-column: 52/60;
  }
  .sixth-qs-item {
    grid-column: 60/68;
  }
  .seventh-qs-item {
    grid-column: 68/76;
  }
  .eighth-qs-item {
    grid-column: 77/89;
  }
  .ninth-qs-item {
    grid-column: 89/-1;
  }

  /*#endregion Quick Search Region */

  /*#region Welcome Region */

  .region-welcome-container {
    display: grid;
    max-width: 1312px;
    grid-template-columns: repeat(100, 1fr);
    margin: 0 auto;
  }
  .welcome-primary-section {
    grid-column: 9/50;
  }
  .welcome-secondary-section {
    grid-column: 56/-1;
  }

  /*#endregion Welcome Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1450px) {
  /* 1367 */
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1366px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}
=======
 *
 * Mobile styles and other media queries
 *
 *******************************************************/
>>>>>>> f2643324ff70065de82f4df7b7fbab20a949a9d8

 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 
@media only screen and (max-width: 1199px) {
<<<<<<< HEAD
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Communities Region */

  /*#endregion Communities Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Videos Region */

  /*#endregion Videos Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

/* iPad(portrait) | Galaxy Tab 4(portrait) */
=======

} 
>>>>>>> f2643324ff70065de82f4df7b7fbab20a949a9d8

/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {
<<<<<<< HEAD
  body.is-open {
    overflow: auto;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
    display: none !important;
  }

  .section-title {
    text-align: center;
    margin-bottom: 40px;
  }

  .hp-sidebar {
    display: none;
  }

  /*#region Header */

  header.header {
    position: relative;
    margin-top: 53px;
    background: #111;
    padding: 25px 15px;
  }
  .header-container {
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: none;
  }

  /*#endregion Header */

  /*#region Contact */

  .contact-form .form-md {
    width: 100%;
  }

  .contact-form .pad-left,
  .contact-form .middle-pad-left,
  .contact-form .pad-right,
  .contact-form .middle-pad-right {
    padding: 0;
  }

  /*#endregion Contact */
  /* The following are used on inner pages. Please edit carefully. */
  .aios-mobile-header-wrapper {
    z-index: 1020 !important;
  }

  .inner {
    width: 100%;
  }
  #content-sidebar,
  #content-full {
    width: 100%;
  }
  .outer {
    width: 100%;
    min-width: 100%;
  }
  #content-sidebar #content {
    width: 100%;
  }
}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */

@media only screen and (max-width: 767px) {
  /* 481 */
  .ip-banner .container {
    width: 100%;
  }
=======
	
	/* The following are used on inner pages. Please edit carefully. */

	.inner {
	    width: 100%;
	}
	#content-sidebar, #content-full {
	    width: 100%;
	}	
	.outer{
		width: 100%;
		min-width: 100%;
	}
	#content-sidebar #content{
		width: 100%;
	}
	
} 

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {
    .ip-banner .container{
        width: 100%;
    }
>>>>>>> f2643324ff70065de82f4df7b7fbab20a949a9d8
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {
<<<<<<< HEAD
  /*#region Global */
  /*#endregion Global */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
=======

>>>>>>> f2643324ff70065de82f4df7b7fbab20a949a9d8
}
 
